@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Loved+by+the+King&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container-index {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas: "header" "main" "footer"; }

.header {
  grid-area: header;
  background-color: black;
  color: gold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: none; }

.img-size {
  max-width: 70px; }

.custom-toggler {
  background-color: gold; }

.navBar li {
  list-style: none; }
  .navBar li a {
    text-decoration: none;
    font-family: 'Loved by the King', cursive;
    color: gold;
    font-size: 32px; }
