@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Loved+by+the+King&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    height: 0;    
    width: 100%;
}
/**demarcacion de contenedor y grid mobile first**/
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
/**clases y propiedades de navegador y header mobile**/
.header{
    grid-area: header;
    background-color: black;
    color:gold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navBar li{
    list-style: none;
}
.navBar li a {
        text-decoration: none;
        font-family: 'Loved by the King', cursive;
        color: gold;
        font-size: 32px;
}
.main-index{
    grid-area: main;
    background-color: black;
    color:gold;
    display: flex;
    justify-content: center;
    align-content: center;
}
/**Clases y propiedades Main del index mobile**/
.main-index-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "div1"
    "div2"
    "div3"
    ;
    background-color: black;
}
.index-div1{
    grid-area: div1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.index-div2{
    grid-area: div2;
    justify-self: center;
    align-self: center;
}
.index-div2 img{
    max-width: 100%;
    height: auto;
}
.index-div3{
    grid-area: div3;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.main-index-div{
    font-family: 'Loved by the King', cursive;
    font-size: 50px;
    background-color: black;
}
/**Clases y propiedades del main de noticias mobile**/
.main-noticias{
    background-color: black;
}
.main-noticias-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.267);
    font-family: 'Kanit', sans-serif;
    color:gold;
}
.noticias-title{
    text-align: center;
    font-size: 28px;
}
.noticias-subtitle{
    font-size: 22px;
    padding: 0 8px;
}
.noticias-paragraf{
    font-size: 14px;
    text-align: justify;
    padding: 0 8px;
}
.main-noticias-article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
}
/**Clases y propiedades main de contacto mobile**/
.alignFst {
    display: flex;
    flex-direction: column;
    text-align: center;
}
input[type="text"] {
    color:rgb(59, 59, 59);
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
input[type="submit"] {
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: darkgray;
    padding: 0.2em;
    border-radius: 5px;
    border: inset 2px rgb(59, 59, 59);
}
input[type="email"] {
    color:rgb(59, 59, 59);
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
textarea {
    width: 90%;
    background-color: darkgray;
    opacity: 80%;
    color:rgb(59, 59, 59);
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.main-contacto {
    width: 100%;
    height: 100%;
    grid-area: main;
    background-color: black;
    color:gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contacto-form{
    width: 90%;
    height: 100%;
    color:gold;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    align-self: center;
}
.fieldset-properties{
    width: 100%;
}
.fieldset-properties label{
    padding: 5px 0;
}
.fielset-contactType {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fieldset-msj{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inptespecial {
    width: 90%;
    background-color: darkgray;
    opacity: 80%;
}
/**clases y propiedades footer mobile**/
.footer{
    grid-area: footer;
    background-color: black;
    color:gold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-redes{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-redes-img{
    max-width: 40%;
    max-height: 40%;
}
.footer-derechos{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-derechos p{
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    background-color: black;
}
/**cambio de propiedades para mobile grande**/
@media (min-width: 576px){
    .navBar li a {
        font-size: 45px;
}
    .main-index-section{
        grid-template-rows: 1fr 4fr 1fr;
}
    .main-index-div{
        font-size: 75px;
    }
    .footer-derechos p{
        font-size: 15px;
}
/**cambio de propiedades para tablet**/
@media (min-width: 768px){
    .navBar li a{
        font-size: 50px;
    }
    .main-index-div{
        font-size: 80px;
    }
    .index-div2{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .index-div2 img{
        max-width: 70%;
        height: auto;
    }
    .noticias-title{
        font-size: 36px;
    }
    .noticias-subtitle{
        font-size: 30px;
    }
    .noticias-paragraf{
        font-size: 20px;
    }
    /**Clases y propiedades main de contacto mobile**/
    input[type="text"] {
        font-size: 16px;
        }
    input[type="submit"] {
        font-size: 16px;
    }
    input[type="email"] {
    font-size: 16px;
    }
    textarea {
        font-size: 16px;
    }
    .contacto-form{
        font-size: 18px;
    }
    .footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .footer-redes{
        justify-self: flex-end;
        align-self: center;
    }
    .footer-redes div{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-derechos{
        align-self: center;
        align-items: flex-start;
        padding-left: 10px;
    }
    .footer-derechos p{
        font-size: 20px;
    }
}
/**cambio de propiedades tablet grande**/
@media (min-width: 992px){
    .main-index-div{
        font-size: 100px;
    }
    .footer-redes div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-derechos{
        padding-left: 20px;
    }
    .footer-derechos p{
        font-size: 20px;
    }
}
/**cambio de propiedades desktop**/
@media (min-width: 1200px){
    .container{
        height: 100vh;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr 1fr;
    }
    .navBar {
        justify-content: flex-end;
        align-self: center;
    }
    .navBar li {
            padding-right: 90px;                
    }
    .navBar li a:hover {
        animation: animBar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-name: navBarAnim
    }
    .navBar li:hover {
        animation: animBar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-name: navBarAnim
    }
    .main-index-section{
        display: flex;
        flex-direction:  row;
        justify-content: space-evenly;
        align-content: center;
    }
    .main-index-div {
        animation-name: text-shadow-multicolor;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        font-size: 120px;
    }
    .index-div2{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .index-div2 img{
        width: 80%;
        height: 80%;
    }
    .main-noticias{
        display:flex;
        justify-content: center;
        background-image: url(../ASSETS/IMG/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .main-noticias-section{
        width: 80%;
    }
    .main-noticias-article div:hover{
        border: solid 2px gold;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.514);
    }
    .noticias-title{
        font-size: 36px;
    }
    .noticias-subtitle{
        font-size: 30px;
    }
    .noticias-paragraf{
        font-size: 20px;
    }
    .main-contacto{
        background-image: url(../ASSETS/IMG/logo2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    input[type="text"] {
        font-size: 18px;
    }
    input[type="submit"] {
    font-size: 18px;
    color:gold;
    text-shadow: 2px 1px 12px #CC0000;
    box-shadow: 2px 2px 4px #696969;
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px inset #D1D1D1;
    background: #BDBBBB;
    background: linear-gradient(to top, #BDBBBB, #5e5e5e);
    }
    input[type="submit"]:hover {
        background: linear-gradient(to top, #5e5e5e,#BDBBBB );
    }
    input[type="email"] {
    font-size: 18px;
    }
    textarea {
    width: 90%;
    font-size: 18px;
    }
    textarea:hover{
        border:solid 2px lightgray;
    }
    .inptespecial {
        text-shadow: 2px 2px 5px rgba(255, 217, 0, 0.425);
        border-radius: 5px;
    }
    .inptespecial:hover {
        border:solid 2px lightgray;
    }
    .inptespecial:focus{
        border:solid 2px gold;
        outline:none;
    }
    textarea{
        text-shadow: 2px 2px 5px rgba(255, 217, 0, 0.425);
        border-radius: 5px;
    }
    textarea:focus{
        border:solid 2px gold;
        outline:none;
    }
    .contacto-form{
        width: 60%;
        font-size: 20px;
    }
    .footer-redes div{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-redes div a picture img:hover{
        background-color: rgba(255, 0, 0, 0.185);
        border: solid 1px rgba(255, 0, 0, 0.459);
        border-radius: 5px;
    }
    .footer-derechos{
        padding-left: 20px;
    }
    .footer-derechos p{
        font-size: 20px;
    }
    /**animaciones navbar - index front**/
        @keyframes navBarAnim {
            0% {
                transform: translateY(0) translateX(0);
                transform-origin: 50% 50%;
                text-shadow: none;
            }
            100% {
                transform: translateY(-10px) translateX(-10px);
                transform-origin: 50% 50%;
                text-shadow: 2px 2px 2px rgba(190, 175, 41, 1),4px 4px 9px rgba(215, 191, 38, 1),6px 6px 10px rgba(215, 157, 40, 0.84),8px 8px 12px rgba(205, 108, 34, 0.79),10px 10px 16px rgba(205, 51, 28, 0.61);
            }
        }
        @keyframes text-shadow-multicolor {

            0% {
                text-shadow: none;
            }
            50% {
                text-shadow: 1px 1px 3px orange, 0 0 1em red, 0 0 0.1em red;
            }
            100% {
                text-shadow: none;
            }
        } 
    }
}