@mixin flex-props ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin font-props ($colorfnt,$fontsz,$fontbld) {
    color: $colorfnt;
    font-size: $fontsz;
    font-weight: $fontbld;
}
@mixin bkg-img ($bkg-url,$repeat,$bkg-sz,$bkg-pos){
    background-image: $bkg-url;
    background-repeat: $repeat;
    background-size: $bkg-sz;
    background-position: $bkg-pos;
}