@mixin flex-props ($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin font-props ($colorfnt,$fontsz,$fontbld) {
    color: $colorfnt;
    font-size: $fontsz;
    font-weight: $fontbld;
}