input[type="submit"] {
    font-size: 16px;
    color:gold;
    text-shadow: 1px 1px 8px #cc9c00, 1px 1px 12px #cc7a00;
    box-shadow: 0px 0px 4px #696969, 0px 0px 6px #464646, 0px 0px 8px #272727;
    padding: 3px 5px;
    border-radius: 7px;
    border: 2px inset #696969;
    background: linear-gradient(to top, #999898, #222222);
    &:hover{
        background: linear-gradient(to top, #222222,#999898 );
    }
}